:root{
  --primary-bg: #242526;
  --secondary-bg: #fff;
  --secondary-text-color: #cecece;
  --border-radius: 8px;
  --speed: 350ms;
}
*{
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  background-color: #040714;
  /* color: #41bcff; */
  color: white;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
h4{
  font-size: 30px;
}
.auth{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  background-color: transparent;
  transition: all 0.1s ease-in;
  cursor: pointer;
}
.signOut{
  background-color: rgb(28, 231, 131);
  box-shadow: 2px 5px 39px -9px rgba(28, 231, 131, 0.7);
}
.signOut:hover{
  background-color: rgb(15, 198, 107);
  box-shadow: 2px 5px 39px -9px rgba(28, 231, 131, 1);
}
.signIn:hover{
  color: rgba(255, 255, 255, 0.742);
}
ul{
  list-style: none;
}

.menu-trigger .img{
  position: absolute;
  top: 15px;
  right: 35px;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0px 0px 30px -7px #41bcff;
  transition: all 0.1s ease-in-out;
  &:hover{
    box-shadow: 0px 0px 35px -5px #41bcff;
  }
}
.dropdown-menu{
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: white;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 200px;
  color: black;
}
.dropdown-menu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease-in-out;
}
.dropdown-menu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease-in-out;
}
.dropdown-menu::before{
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background-color: var(--secondary-bg);
  transform: rotate(45deg);
}
.dropdownItem a{
  color: black;
}
h3{
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: #040714;
  line-height: 1.2rem;
}
h3 span{
  font-size: 14px;
  color: #0407147d;
  font-weight: 400;
}
.dropdown-menu ul li{
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.dropdown-menu ul li a{
  color: #040714ca;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.dropdown-menu ul li:hover a{
  color: #101f608e;
  cursor: pointer;
}
.logOut{
  margin-bottom: 10px;
  background-color: rgb(232, 41, 60);
  color: white;
  padding: 7px 10px;
  border-radius: 3px;
  transition: all 0.1s ease-in-out;
}
.logOut:hover{
  background-color: rgb(175, 16, 32);
  cursor: pointer;
}