*{
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  background-color: #040714;
  /* color: #41bcff; */
  color: white;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
h4{
  font-size: 30px;
}
.auth{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  background-color: transparent;
  transition: all 0.1s ease-in;
}
.signOut{
  background-color: rgb(28, 231, 131);
  box-shadow: 2px 5px 39px -9px rgba(28, 231, 131, 0.7);
}
.signOut:hover{
  background-color: rgb(15, 198, 107);
  box-shadow: 2px 5px 39px -9px rgba(28, 231, 131, 1);
}
.signIn:hover{
  color: rgba(255, 255, 255, 0.742);
}